x-restart: &restart_policy
  restart: unless-stopped
  deploy:
    restart_policy:
      condition: on-failure
      delay: 60s

services:
  vmq-backend:
    <<: *restart_policy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      # 环境变量配置
      - .env
    entrypoint: ["fastapi", "run", "--workers", "4", "app/main.py"]
    depends_on:
      - redis
      - postgres
  vmq-frontend:
    <<: *restart_policy
    image: daoji/vmq-fastapi-frontend:0.0.1
    ports:
      - "5173:8080"
    depends_on:
      - vmq-backend
  redis:
    <<: *restart_policy
    image: redis:latest
    ports:
      - "6379:6379"
    env_file:
      - .env
    command: >
      redis-server
      --bind 0.0.0.0
      --requirepass $REDIS_PASSWORD
      --appendonly yes
      --rename-command KEYS ""
    volumes:
      - ./data/redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli -h localhost -p 6379 -a $REDIS_PASSWORD ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  postgres:
    <<: *restart_policy
    image: postgres:16.3
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai
      - POSTGRES_SERVER=db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./data/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10
  pgadmin:
    <<: *restart_policy
    image: elestio/pgadmin:latest
    depends_on:
      - postgres
    ports:
      - "5555:5050"
    environment:
      - TZ=Asia/Shanghai
      - PGADMIN_LISTEN_PORT=5050
      - PGADMIN_DEFAULT_EMAIL=vmq-fastapi@vmq.com
      - PGADMIN_DEFAULT_PASSWORD=vmq.fastapi
    volumes:
      - ./data/pgadmin-data:/var/lib/pgadmin

# 配置文件
# configs:
#   redis-conf:
#     content: |
#       port 6379
#       bind 0.0.0.0
#       appendonly yes
#       requirepass password

#       rename-command KEYS ""
