# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.vmq.com

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5173
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME='Vmq Fastapi'
STACK_NAME=vmq-fastapi

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=vmq.fastapi
FIRST_SUPERUSER=vmq-fastapi@vmq.com
FIRST_SUPERUSER_PASSWORD=vmq.fastapi

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=25

# 订单创建间隔时间
ORDER_INTERVAL=60

# Postgres
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=vmq
POSTGRES_USER=vmq
POSTGRES_PASSWORD=vmq.fastapi

SENTRY_DSN=

# Configure VS Code/Cursor to run from root directory.
PYTHONPATH=.

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=vmq.fastapi

# 时区
TZ=Asia/Shanghai
